.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-background {
  background: rgb(255,112,0,1);
  /* background: linear-gradient(90deg, rgba(255,112,0,1) 41%, rgba(221,194,36,1) 100%); */
}

.App-link {
  color: #61dafb;
}

.photo {
  height: 300px;
  width: 300px;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 21rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 5px 6px #a31010
}


